# macOS system files
.DS_Store
._.DS_Store
*.DS_Store
*/.DS_Store
*/._.DS_Store
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
# Virtual environments
venv/
env/

# IDEs and editors
*.vscode/
*.idea/

# Additional macOS metadata
.AppleDouble
.LSOverride